* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    background-color: white;
  }
  img {
      width: 100%;
  }
/* container */
.container {
    display: grid;
    
   
}
  /* Navbar */

nav {
    display: flex;
    background-color: #dd3333;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    align-items: center;
    z-index: 5;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
  
  nav ul li a:hover {
    color: #481313;
  }
  
  .logo {
      width: 50px;
  }
  
  /* Search bar */
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  /* tombol search */
  .search-button {
    background-color: #dd3333;
    color: #fff;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    background-image: url("tugas2/icons8-search-25.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* input search */
  .search-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 15px;
  }
  
  /* Hamburger Menu */
  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 99;
   
  }
  
  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  /* Hamburger Menu Animation */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  /* .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        '1c 2c 3c 4c';
    gap: 10px;
    background-color: #481313;
    
    
  }
  
  .carousel-content {
    display: flex;
    width: auto;
    height: 100px;
  } */

  

  .header {
    display: grid;
    grid-template-areas: 
        'hero hero subhero-1'
        'hero hero subhero-2'
        'car1 car2 car3 ';
    
    
  }

  header a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
  }

  header h1 {
    background-color: #ac9840;
    color: white;
    text-align: left;
    
    
  }
  header hr {
    border: none; 
    height: 2px; 
    background-color: red;
  }

  header img {
    border-radius: 2%; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  .hero {
    grid-area: hero;
    background-color: #eeeeee;
    min-height: 350px;
    padding: 10px;
    text-align: center;
  }

  .subhero {
    display: grid;
    background-color: #eeeeee;
    min-height: 350px;
    
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subhero-1 {
    grid-area: subhero-1;
  }
 
  .subhero-2 {
    grid-area: subhero-2;
  }

  .car {
    display: grid;
    background-color: #eeeeee;
    min-height: 350px;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
  }

  .car {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
 

  /* Footer */
.cf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
    
  }

footer img {
    width: 4%;
    min-width: 50px;

}

footer a {
      color: white;
      text-decoration: none;
      align-items: center;
      font-size: 0.6em;
  }

footer hr {
    width: 20%; 
    height: 2px; 
    background-color: red;
    
}

/* carousel */
/* .carousel {
    grid-area: carousel;
    display: flex;
    align-items: center;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    width: 10%;
}

.carousel img {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.carousel button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
} */


/* Responsive Breakpoint*/

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
      width: 50%;
    }
  }
  
  /* ukuran phone */
  @media screen and (max-width: 576px) {
    .menu-toggle {
      display: flex;
    }
    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      height: 100vh;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      background-color: #dd3333;
      z-index: 1;
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
    }
  
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
      
    }
  }